<%= render "page_home/home/slide" %>
<div class="content">
  <div class="wrap">
    <div class="content-top">
	  <%= render "page_home/home/movienew"%>
	  <%= render "page_home/home/trailer" %>
	  <%= render "page_home/home/theaters" %>
	  <div class="clear"></div>
	</div>
  </div>
</div>
