<%= render "homes/slide" %>
<div class="content">
  <div class="wrap">
    <div class="content-top">
	  <%= render "homes/movienew"%>
	  <%= render "homes/trailer" %>
	  <%= render "homes/theaters" %>
	  <div class="clear"></div>
	</div>
  </div>
</div>
