<div id="cboxContent" >
   <div id="cboxLoadedContent" >
      <div class="product-view quick-booking cgv-schedule-popup">
         <div class="product-collateral toggle-content tabs tabs-cgv-movie-view-date">
            <dl id="collateral-tabs" class="collateral-tabs">
               <dd class="tab-container current">
                  <div class="tab-content showtimes">
                     <div class="product-collateral toggle-content tabs tabs-cgv-movie-cites">
                        <dl id="collateral-tabs" class="collateral-tabs">
                           <dt class="tab current">
                              <span>Hồ Chí Minh</span>
                           </dt>
                           <dd class="tab-container current">
                              <div class="product-collateral toggle-content tabs tabs-cgv-movie-type">
                                 <ul class="toggle-tabs">
                                    <li class="last current">
                                       <span>2D Phụ Đề Việt</span>
                                    </li>
                                 </ul>
                                 <dl id="collateral-tabs" class="collateral-tabs">
                                    <dd class="tab-container last current">
                                       <div class="tab-content showtimes">
                                          <div class="site sitecgv">
                                             <div class="site">
                                                <h3>Name Film</h3>
                                             </div>
                                             <div class="cinema 2d">
                                                <h4>Rạp 2D</h4>
                                             </div>
                                             <div id="schedule_display">
                                                <% @cinemaroom.each_with_index do |item| %>
                                                   <ul class="products-grid-movie tab-showtime" >
                                                      <li class="item" >
                                                         <%= link_to booking_path do %>
                                                            <span><%= item.schedule.date_movie.strftime("%d/%m/%Y") %></span><br>
                                                            <span><%= item.schedule.start_time.strftime("%H:%M") %></span><br>
                                                            <span><%= item.cinemaroom.num_of_seats %></span><br>
                                                         <% end %>   
                                                         </a>
                                                      </li>
                                                   </ul>
                                                <% end %>
                                             </div>
                                          </div>
                                    </dd>
                                 </dl>
                              </div>
                           </dd>
                           <dd class="tab-container last">
                              <div class="product-collateral toggle-content tabs tabs-cgv-movie-type">
                                 </ul>
                                 <dl id="collateral-tabs" class="collateral-tabs">
                                    <dd class="tab-container last current">
                                    </dd>
                                 </dl>
                              </div>
                           </dd>
                        </dl>
                     </div>
                  </div>
               </dd>
               <dt class="tab">
                  <div class="day" onclick="getSelectDay(18005100, &#39;20180420&#39;);"><span>04</span><em>Fri</em><strong>20</strong></div>
               </dt>
               <dd class="tab-container">
                  <div class="tab-content showtimes"></div>
               </dd>
            </dl>
         </div>
      </div>
   </div>
</div>