<div class="content">
  <div class="wrap">
    <div class="content-top">
      <h3><%= t "movie" %></h3>
      <div class="col_1_of_4 span_1_of_4">
        <div class="imageRow">
          <div class="single">
            <%= link_to image_tag("pic18.jpg", alt: ""), "#" %>
          </div>
          <div class="movie-text">
            <h4 class="h-text"><%= link_to t("lorem"), "#" %></h4>
            <p class="h-para"><%= t "lorem" %></p>
          </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
  </div>
</div>
